<!DOCTYPE html>
<html ng-app>
  <head>
  <style>
	.minefield {
		line-height:0;
		border-spacing:0;
	}

	.minefield td {
		padding:0
	}  
	
	.clicked{
		border-style: inset;
		padding:5
	}
  </style>  
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
      <script src="src.js">
      </script>
  </head>
    <body ng-controller="MinesweeperController">
	<div align="center">
		width<input type="text" ng-model="width" value="12" id ="width"/> height<input type="text" ng-model="height" value="9" id ="height"/> mines<input type="text" ng-model="mines" value="9" id ="mines"/>
		Remaining flags: {{flags_cnt}}</br></br>
	  <button class="button" ng-click="start()" type="button">start game</button>
	  <input class="minefield" type="checkbox"  id="superman" ng-click="superman(minefield)"><label for="superman">superman</label><br/><br/>

		<table class="minefield">
			<tr ng-repeat="row in minefield.rows">
				<td ng-repeat="cell in row.cells" ng-click="clickCell(minefield, cell)">											
						<img ng-if="cell.isCovered && !cell.flag && !cell.superman" src="./img/covered.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag  && cell.content == 'empty'" src="./img/empty.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 'mine'" src="./img/mine.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 1" src="./img/number-1.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 2" src="./img/number-2.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 3" src="./img/number-3.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 4" src="./img/number-4.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 5" src="./img/number-5.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 6" src="./img/number-6.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 7" src="./img/number-7.png" />
						<img ng-if="(!cell.isCovered || cell.superman) && !cell.flag && cell.content == 8" src="./img/number-8.png" />	
						<img ng-if="cell.flag" src="./img/flag.png" />	
				</td>
			</tr>
		</table>	
		<h3 ng-if="youWonMessage">You Won!</h3>
		<h3 ng-if="youLostMessage">You Lost!</h3>
	</div>
    </body>
</html>